/* Create a spinner.css file for spinner styles */
.spinner {
    border: 16px solid #ece4e7; /* Light grey */
    border-top: 16px solid #330217; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  